* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}

:root {
    --border-radius: 15px;
    --homepage-font: 40px;
    --primaryFont: 'Tenor Sans', sans-serif;
    --secondaryFont: 'Barlow', sans-serif;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('./assets/fonts/tenorsans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url(./assets/fonts/barlow-regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}

body {
    background: url(./assets/images/background.svg);
    background-size: cover;                 /*Need to correct this*/
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    background: url("./assets/images/logo.svg");
    background-size: contain;
    width: 200px;
    height: 70px;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

nav button {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;                /*Need standardized font sizes in variable names*/
    font-family: var(--primaryFont);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
    height: 50px;
    font-family: var(--secondaryFont);
}

.footer-logos {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    right: 30px;
}

.footer-logos button {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.footer-logos img {
    width: 30px;
}

.main-content {
    height: 560px;
}

.homepage-container {
    display: grid;
    grid-template-columns: 350px 500px;
    width: 890px;
    height: 500px;
    margin: 0 auto;
    gap: 40px;
    font-family: var(--primaryFont);
}

.homepage-column-one {
    background: url(./assets/images/homepage-menu-background.svg);
    background-size: contain;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--homepage-font);
}

.homepage-column-two {
    display: grid;
    grid-template-rows: 230px 230px;
    gap: 40px;
    height: 500px;
}

.homepage-find-us,
.homepage-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--homepage-font);
    border-radius: var(--border-radius);
    background-size: contain;
}

.homepage-find-us {
    background: url(./assets/images/homepage-find-us-background.svg);
}

.homepage-about-us {
    background: url(./assets/images/homepage-about-us-background.svg);
}

.menupage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-title {
    font-family: var(--primaryFont);
    font-size: 30px;                    /*Needs to be standardized*/
    font-weight: 400;
    padding-bottom: 5px;
}

.menu-desc {
    font-family: var(--secondaryFont);
    padding-bottom: 25px;
}

.menu-container {
    display: grid;
    grid-template-columns: 425px 425px;
    gap: 20px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    width: 435px;
    padding-bottom: 20px;
}

.menu-card-title {
    font-family: var(--primaryFont);
    line-height: 30px;                /*Needs to be standardized*/
    font-weight: 400;
    font-size: 24px;                /*Needs to be standardized*/
}

.dish {
    display: flex;
    flex-direction: column;
    font-family: var(--secondaryFont);
    padding-bottom: 10px;
}

.dish-name {
    font-size: 14px;                /*Needs to be standardized*/
    font-weight: 600;
}

.dish-desc {
    font-size: 12px;                /*Needs to be standardized*/
}


.about-us-container,
.find-us-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 890px;
    margin: 0 auto;
    height: 100%;
}

.about-us-card {
    padding-bottom: 30px;
}

.about-us-card h3,
.find-us-container h3 {
    font-family: var(--primaryFont);
    font-size: 24px;                /*Needs to be standardized*/
    line-height: 30px;              /*Needs to be standardized*/
    font-weight: 400;               /*Needs to be standardized*/

}

.about-us-card p,
.find-us-container p,
.find-us-container ul  {
    font-family: var(--secondaryFont);
    font-size: 16px;                /*Needs to be standardized*/
    line-height: 26px;              /*Needs to be standardized*/
}

.about-us-image {
   display: flex;
   justify-content: center;
   align-items: center;
}

.find-us-container span {
    font-weight: 700;
}

.find-us-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.find-us-text-container h3 {
    padding-top: 20px;
}

.find-us-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-us-image-container img {
    height: 100%;
}

.find-us-socials-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.find-us-socials-section img {
    width: 30px;
}

.find-us-socials-images-container {
    display: flex;
    gap: 20px;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:var(--secondaryFont);
    background: url(./assets/images/landing-page-background.svg);
    background-size: cover;
}