* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}

:root {
    --border-radius: 15px;
    --homepage-font: 40px;
}

body {
    background: url(./assets/images/background.svg);
    background-size: cover;                 /*Need to correct this*/
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    background: url("./assets/images/logo.svg");
    background-size: contain;
    width: 200px;
    height: 70px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

nav button {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;                /*Need standardized font sizes in variable names*/
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
    height: 50px;
}

.footer-logos {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    right: 30px;
}

.footer-logos button {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.footer-logos img {
    width: 30px;
}

.main-content {
    height: 540px;
}

.homepage-container {
    display: grid;
    grid-template-columns: 350px 500px;
    width: 890px;
    height: 500px;
    margin: 0 auto;
    gap: 40px;
}

.homepage-column-one {
    background: url(./assets/images/homepage-menu-background.svg);
    background-size: contain;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--homepage-font);
}

.homepage-column-two {
    display: grid;
    grid-template-rows: 230px 230px;
    gap: 40px;
    height: 500px;
}

.homepage-find-us,
.homepage-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--homepage-font);
    border-radius: var(--border-radius);
    background-size: contain;
}

.homepage-find-us {
    background: url(./assets/images/homepage-find-us-background.svg);
}

.homepage-about-us {
    background: url(./assets/images/homepage-about-us-background.svg);
}