* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
}

:root {
    --border-radius: 15px;
    --homepage-font: 40px;
    --primaryFont: 'Tenor Sans', sans-serif;
    --secondaryFont: 'Barlow', sans-serif;
    --h3fontSize: 24px;
    --textFontSize: 14px;
    --smallPrintFontSize: 12.5px;
    --lineHeightSmaller: 26px;
    --lineHeightBigger: 30px;
    --normalFontWeight: 400;
    --semiBoldFontWeight: 600;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('./assets/fonts/tenorsans-regular.woff2') format('woff2');
  font-weight: var(--normalFontWeight);
  font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url(./assets/fonts/barlow-regular.woff2) format(woff2);
    font-weight: var(--normalFontWeight);
    font-style: normal;
}

body {
    background: url(./assets/images/background.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    background: url("./assets/images/logo.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 70px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

nav button {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--h3fontSize);
    font-family: var(--primaryFont);
    opacity: 0.8;
}

.active-nav-button {
    opacity: 1;
}



footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
    height: 50px;
    font-family: var(--secondaryFont);
}

.footer-logos {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    right: 30px;
}

.footer-logos img {
    width: 30px;
    cursor: pointer;
}


.footer-text {
    font-size: var(--smallPrintFontSize);
}

.google-logo,
.facebook-logo,
.instagram-logo {
    opacity: 0.7;
}


.main-content {
    height: 560px;
}

.homepage-container {
    display: grid;
    grid-template-columns: 350px 500px;
    width: 890px;
    height: 500px;
    margin: 0 auto;
    gap: 40px;
    font-family: var(--primaryFont);
}

.homepage-column-one {
    background: url(./assets/images/homepage-menu-background.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--homepage-font);
}

.homepage-column-two {
    display: grid;
    grid-template-rows: 230px 230px;
    gap: 40px;
    height: 500px;
}

.homepage-menu {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.homepage-find-us,
.homepage-about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--homepage-font);
    border-radius: var(--border-radius);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.homepage-find-us {
    background: url(./assets/images/homepage-find-us-background.jpg);
}

.homepage-about-us {
    background: url(./assets/images/homepage-about-us-background.jpg);
}

.menupage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-title {
    font-family: var(--primaryFont);
    font-size: var(--h3fontSize);
    font-weight: var(--normalFontWeight);
    padding-bottom: 5px;
}

.menu-desc {
    font-family: var(--secondaryFont);
    padding-bottom: 25px;
}

.menu-container {
    display: grid;
    grid-template-columns: 425px 425px;
    gap: 20px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    width: 435px;
    padding-bottom: 20px;
}

.menu-card-title {
    font-family: var(--primaryFont);
    line-height: var(--lineHeightBigger);
    font-weight: var(--normalFontWeight);
    font-size: var(--h3fontSize);
}

.dish {
    display: flex;
    flex-direction: column;
    font-family: var(--secondaryFont);
    padding-bottom: 10px;
}

.dish-name {
    font-size: var(--textFontSize);
    font-weight: var(--semiBoldFontWeight);
}

.dish-desc {
    font-size: var(--smallPrintFontSize);
}


.about-us-container,
.find-us-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
    width: 890px;
    margin: 0 auto;
    height: 100%;
}

.about-us-card {
    padding-bottom: 30px;
}

.about-us-card h3,
.find-us-container h3 {
    font-family: var(--primaryFont);
    font-size: var(--h3fontSize);
    line-height: var(--lineHeightBigger);
    font-weight: var(--normalFontWeight);

}

.about-us-card p,
.find-us-container p,
.find-us-container ul  {
    font-family: var(--secondaryFont);
    font-size: var(--textFontSize);
    line-height: var(--lineHeightSmaller);
}

.about-us-image {
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-us-image img {
    border-radius: var(--border-radius);
}

span {
    font-weight: var(--semiBoldFontWeight);
}

.find-us-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.find-us-text-container h3 {
    padding-top: 20px;
}

.find-us-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-us-image-container img {
    height: 100%;
    border-radius: var(--border-radius);
}

.find-us-socials-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.find-us-socials-section img {
    width: 30px;
    cursor: pointer;
}

.find-us-socials-images-container {
    display: flex;
    gap: 20px;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:var(--secondaryFont);
    background: url(./assets/images/landing-page-background.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;                 /*for the fade out effect */
    transition: opacity 0.8s ease;
}

.landing-page-image img {
    border-radius: 1000px;
}

/*Animations section. Code mostly taken from Gemini*/

/*Fading out of landingpage.*/
.fade-out {
    opacity: 0;
}

/*Sections sliding in and out ↓*/
.animate-slide {
    transition: transform 0.8s ease, opacity 0.8s ease, color 0.3s ease;
    opacity: 0;
}

.start-top { transform: translateY(-100%); }
.start-bottom { transform: translateY(100%); }
.start-left { transform: translateX(-100vw); }
.start-right { transform: translateX(100vw); }


.slide-in {
    transform: translate(0, 0);
    opacity: 1;
}

.homepage-find-us,
.homepage-about-us {
    transition: color 0.3s ease;
}

.homepage-menu:hover,
.homepage-about-us:hover, 
.homepage-find-us:hover {
    color: #FD7E3D;
}

.google-logo:hover,
.facebook-logo:hover, 
.instagram-logo:hover, 
.google-logo:active,
.facebook-logo:active,
.instagram-logo:active {
    opacity: 1;
}

nav button:hover {
    opacity: 1;
}